.moneyInput {
	margin-bottom: 0.5em;
	min-width: 50%;
	width: 100%;
}

.tagInput {
	margin-bottom: 0.5em;
	min-width: 200px;
	width: 100%;
}

.input-component {
	text-align: center;
	margin: auto;
	min-width: 300px;
    width: 50%;
}

.inputsWrapper {
	min-width: 50%;
}

.visitorInput {
	width: 50%;
	margin-bottom: 0.5em;
}

.nightsInput {
	width: 50%;
	margin-bottom: 0.5em;
}